.catCard {
  width: 225px;
  height: 225px;
  border-radius: 0%;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, z-index 0.3s ease;
  display: inline-block;
  border: none;

  &:hover {
    transform: scale(1.137);
    z-index: 1;

    .likeButton {
      visibility: visible;
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .likeButton {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 23px;
    right: 15px;
    transition: opacity 0.3s ease;
  }
}